@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}


body {
  background-color: #000000;
  color: white;
}

button {
  -webkit-app-region: no-drag
}

